In [1]:
#%%capture
#!pip install dash-bootstrap-components plotly==5.2.1 dash jupyter-dash

In [4]:
# Dash app original

import plotly.io as pio
import pandas as pd
import dash as dcc
import dash as html
import dash_bootstrap_components as dbc
import plotly.express as px
from jupyter_dash import JupyterDash
from dash.dependencies import Input, Output

stylesheet = [dbc.themes.BOOTSTRAP]

In [6]:
# Carga inicial de datos
competidores = pd.read_csv("https://raw.githubusercontent.com/carlos1680/CEPDVDCP/main/juegos_olimpicos.csv",index_col=0, parse_dates=True,date_format='mixed')
competidores.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN